<div class="productCard">
  <a
    [routerLink]="['/product', product.productId]"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <div class="top">
      <img
        src="assets/backendImages/{{ product.imageModel.name }}"
        alt=""
        class="img"
      />
    </div>
  </a>

  <div class="bottom">
    <a
      [routerLink]="['/product', product.productId]"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <div class="details">
        <h3>{{ product.name }}</h3>
        <p>${{ product.price }}</p>
      </div>
    </a>

    <app-product-wishlist-button
      [productId]="product.productId"
    ></app-product-wishlist-button>
  </div>
</div>
