.button {
  display: flex;
}

.icon-class {
  width: 80%;
  height: 80%;
}

.cartSize {
  background-color: #ffd6e4;
  padding: 2px 8px 2px 8px;
  border-radius: 100px;
  //   margin: -5px;
  //   margin-bottom: 5px;
  //   margin-left: -6px;
}
