.dialog {
  text-align: center;
  padding: 3rem;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  outline: none;
}

button {
  margin-bottom: 2rem;
}

.link {
  margin-top: 2rem;
}
