<div class="cartItem">
  <div class="left">
    <img
      src="assets/backendImages/{{ product.imageModel.name }}"
      alt=""
      class="img"
    />
    <div class="details">
      <h2>{{ product.name }}</h2>
      <p>{{ product.price }}</p>
    </div>
  </div>
  <div>
    <!-- <button>{{ quantity }}</button> -->
    <div class="quantityComponent">
      <button mat-button (click)="decrease()">-</button>
      <p class="quantity">{{ quantity }}</p>
      <button mat-button (click)="increase()">+</button>
    </div>
  </div>
  <div>
    <p>Total: ${{ round(product.price * quantity) }}</p>
    <mat-icon (click)="removeItem()" class="material-icons-outlined"
      >delete</mat-icon
    >
  </div>
</div>
