.product {
  display: flex;
  padding: 5%;
}

.img {
  width: 30%;
}

.info {
  margin: 0 10% 0 10%;
  width: 50%;
}

.title {
  display: flex;
  justify-content: space-between;
}
.quantityComponent {
  display: flex;
  outline: solid lightgray;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 5% 0 5% 0;
}

.quantity {
  vertical-align: middle;
  margin-bottom: 0;
}

.wishlist {
  margin-left: 10%;
}
