<div>
  <a
    [routerLink]="['/home']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >&larr; categories</a
  >
  /
  <a [routerLink]="['/categories', product.category]">{{ product.category }}</a>
</div>

<div class="product">
  <img src="{{ product.img }}" alt="" class="img" />
  <div class="info">
    <div class="title">
      <h1>{{ product.name }}</h1>
      <app-product-wishlist-button
        [productId]="product.id"
      ></app-product-wishlist-button>
    </div>
    <p>Price: ${{ product.price }}</p>
    <p>
      description description description description description description
      description description description description description description
      description description description description description description
      description description
    </p>
    <div class="quantityComponent">
      <button mat-button (click)="decrease()">-</button>
      <p class="quantity">{{ quantity }}</p>
      <button mat-button (click)="increase()">+</button>
    </div>
    <app-button-component
      [text]="'add to cart'"
      (click)="addToCart()"
    ></app-button-component>
  </div>
</div>
