<div *ngIf="product != undefined">
  <a
    [routerLink]="['/home']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >&larr; categories</a
  >
  /
  <a [routerLink]="['/categories', product.category]">{{ product.category }}</a>
</div>

<div class="product" *ngIf="product != undefined">
  <img
    src="assets/backendImages/{{ product.imageModel.name }}"
    alt=""
    class="img"
  />
  <div class="info">
    <div class="title">
      <h1>{{ product.name }}</h1>
      <app-product-wishlist-button
        [productId]="product.productId"
      ></app-product-wishlist-button>
    </div>
    <p>Price: ${{ product.price }}</p>
    <p>
      {{ product.description }}
    </p>
    <div class="quantityComponent">
      <button mat-button (click)="decrease()">-</button>
      <p class="quantity">{{ quantity }}</p>
      <button mat-button (click)="increase()">+</button>
    </div>
    <app-button-component
      *ngIf="loggedIn() && !isAdmin()"
      [text]="'add to cart'"
      (click)="addToCart()"
    ></app-button-component>
    <app-button-component
      *ngIf="!loggedIn() || isAdmin()"
      [text]="'add to cart'"
      (click)="openSignInDialog()"
    ></app-button-component>
  </div>
</div>
