<div *ngIf="!isAuthenticated()" class="auth-button-group">
  <mat-button (click)="openSignInDialog()"> SIGN IN</mat-button>
  &nbsp;|&nbsp;
  <mat-button (click)="openSignUpDialog()"> SIGN UP</mat-button>
</div>

<div *ngIf="!isAdmin() && isAuthenticated()">
  <a [matMenuTriggerFor]="menu">
    <span class="material-icons-outlined">account_circle</span>
  </a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/accountInfo" class="menuLink">
      My Info
    </button>
    <button mat-menu-item (click)="logout()" routerLink="/home">Logout</button>
  </mat-menu>
</div>

<div *ngIf="isAdmin() && isAuthenticated()">
  <a [matMenuTriggerFor]="menu">
    <span class="material-icons-outlined">account_circle</span>
  </a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/accountInfo" class="menuLink">
      My Info
    </button>
    <button mat-menu-item routerLink="/admin" class="menuLink">
      Admin Services
    </button>
    <button mat-menu-item (click)="logout()" routerLink="/home">Logout</button>
  </mat-menu>
</div>
