<div>
  <div class="action">
    <h2>ADD PRODUCT</h2>
    <button mat-button (click)="openCreateProduct()" class="button">
      <p class="text">CREATE</p>
    </button>
  </div>
  <hr />

  <div class="action">
    <h2>EDIT PRODUCTS</h2>
    <section class="products">
      @for (product of productsSignal(); track product) {
      <div class="product">
        <div class="productCard">
          <img
            src="assets/backendImages/{{ product.imageModel.name }}"
            alt=""
            class="img"
            fill
          />

          <p>{{ product.name }}</p>
        </div>
        <div class="icons">
          <div class="icon">
            <span
              (click)="openEditProduct(product)"
              class="material-icons-outlined"
              >edit</span
            >
          </div>

          <span (click)="deleteProduct(product)" class="material-icons-outlined"
            >delete</span
          >
        </div>
      </div>
      }
    </section>
  </div>
</div>
