<div>
  <div class="action">
    <h2>ADD PRODUCT</h2>
    <button (click)="openCreateProduct()">ADD</button>
  </div>
  <hr />

  <div class="action">
    <h2>EDIT PRODUCTS</h2>
    <section class="products">
      @for (product of productsSignal(); track product) {
      <div class="product">
        <div class="productCard">
          <img
            src="assets/backendImages/{{ product.imageModel.name }}"
            alt=""
            class="img"
            fill
          />
          <p>{{ product.name }}</p>
        </div>
        <div>
          <button (click)="openEditProduct(product)">EDIT</button>
          <button (click)="deleteProduct(product)">DELETE</button>
        </div>
      </div>
      }
    </section>
  </div>
</div>
