.dialog {
  text-align: center;
  padding: 10%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

// .header {
//   display: flex;
//   justify-content: center;
// }

.close {
  float: right;
  outline: none;
}
