<div>
  <div class="action">
    <h2>ADD COUPON</h2>
    <button mat-button (click)="openCreateCoupon()" class="button">
      <p class="text">CREATE</p>
    </button>
  </div>
  <hr />

  <div class="action">
    <h2>EDIT COUPONS</h2>
    <section class="coupons">
      @for (coupon of couponsSignal(); track coupon) {
      <div class="coupon">
        <div class="productCard">
          <!-- <span class="material-icons-outlined">account_circle</span> -->
          <h3>Name:</h3>

          <p>{{ coupon.couponName }}</p>
          <h3>Coupon Code:</h3>
          <p>{{ coupon.code }}</p>
          <h3>Discount Percentage:</h3>
          <p>{{ coupon.discount }}%</p>
          <h3>Status:</h3>
          <p>{{ coupon.active ? "ACTIVE" : "not active" }}</p>
        </div>
        <div class="icons">
          <div class="icon">
            <span
              (click)="openEditCoupon(coupon)"
              class="material-icons-outlined"
              >edit</span
            >
          </div>

          <span (click)="deleteCoupon(coupon)" class="material-icons-outlined"
            >delete</span
          >
        </div>
      </div>
      }
    </section>
  </div>
</div>
