.quantityComponent {
    display: flex;
    outline: solid lightgray;
    width: fit-content;
    justify-content: center;
  align-items: center;
}

.quantity {
    vertical-align:middle;
    margin-bottom: 0;
}

